h5 {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}

.input-base {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

input {
  width: 40%;
}

label {
  margin-right: 10px;
}

button {
  margin-left: 415px;
  margin-bottom: 20px;
}

.btn-small {
  margin-left: 5px;
}

table {
  width: 80%;
  margin-left: 170px;
  margin-top: 40px;
}

table tr td, table tr th {
  font-size: 13px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  height: 40px;
}

p {
  margin-left: 27rem;
  font-size: 13px;
  font-weight: bold;
}
