<app-library-user-list></app-library-user-list>
<section>
  <h5>Lugeja leidmine lugejakaardi numbri järgi</h5>
  <div>
    <div class="input-base">
      <label for="libUserCode">Lugejakaardi nr</label>
      <input type="text" id="libUserCode" name="libUserCode" [(ngModel)]="libUserCode">
    </div>
    <button (click)="getLibraryUser(libUserCode)">Leia lugeja</button>
  </div>
  <div>
    <div *ngIf="showHeader">
      <div>
        <table class="table table-hover">
          <tr>
            <th>Lugejakaardi nr</th>
            <th>Eesnimi</th>
            <th>Perekonnanimi</th>
          </tr>
          <tr>
            <td>{{libUser.idCode}}</td>
            <td>{{libUser.firstName}}</td>
            <td>{{libUser.lastName}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
