<footer class="text-center text-lg-start bg-light text-muted">
  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <h5 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Raamatukogu
          </h5>
          <p>
            Meie missioon on säilitada ja edendada Eesti kultuuripärandit ning olla sillaks teadmiste ja
            inimeste vahel.
            Meie visioon on avatud, inspireeriva ja kaasava tegutsemiskeskkonna kaudu olla uue põlvkonna raamatukogu
            ning raamatukogundusliku mõtte arendaja.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Raamatukogust
          </h6>
          <p>
            <a href="#!" class="text-reset">Teenused</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hariduskeskus</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Kirjastajale</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Sündmused</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Kasulikku
          </h6>
          <p>
            <a href="#!" class="text-reset">Lahtiolekuajad</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Registreeru kasutajaks</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laenuta teoseid</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Otsi andmebaasidest</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Kontakt
          </h6>
          <p><i class="fas fa-home me-3"></i> Tänav 13, Tallinn 10023, Eesti</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@rmtk.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 372 123 456 78</p>
          <p><i class="fas fa-print me-3"></i> + 372 123 456 79</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="text-center p-4">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="#">bibliotheca.com</a>
    </div>
  </section>
</footer>
