h5 {
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
  font-weight: bold;
}

h6 {
  margin-bottom: 70px;
  font-weight: bold;
}

label {
  font-size: 13px;
}

button {
  margin-top: 15px;
}
